<h2 style="margin-left: 300px;margin-top: 15px; color: rgb(6, 114, 48);">ASI ES COMO TIENE QUE VERSE EL EXCEL</h2>
<br>
<h3 style="margin-left: 100px;color: rgb(190, 35, 35);"><u>* Tiene que ser 1 solo libro</u> </h3>
<h3 style="margin-left: 100px;color: rgb(190, 35, 35);"><u>* No importa el Nombre del Título de la columna / Pero tienen que ser esa cantidad exacta de Columnas</u></h3>
<h3 style="margin-left: 100px;color: rgb(190, 35, 35);"><u>* El formato de la fecha tiene que verse así :   14|02|2023</u> </h3>
<h3 style="margin-left: 100px;color: rgb(190, 35, 35);"><u>* No se puede poner el Código de la Anomalía junto con su Descripción en la misma columna</u> </h3>
<table>
    <thead>
        <tr>
            <th>CASO</th>
            <th>FECHA</th>
            <th>LATITUD</th>
            <th>LONGITUD</th>
            <th>CÓDIGO</th>
            <th>ANOMALIA</th>
            <th>MEDIDOR</th>
            <th>FOTOS</th>
            <th>DIRECCION</th>
            <th>SARA</th>
            <th>LOCALIDAD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>15|02|2024</td>
            <td>-37,88238419</td>
            <td>-67,79200003</td>
            <td>PR10</td>
            <td>Poste o columna inclinada.</td>
            <td>516854798</td>
            <td>33112-1-1</td>
            <td>Al lado de MED: 4443454</td>
            <td>546549</td>
            <td>CATRIEL</td>
        </tr>
        <tr>
            <td>2</td>
            <td>14|02|2023</td>
            <td>-37,88229475</td>
            <td>-67,79185284</td>
            <td>PR11</td>
            <td>Poste o columna inclinada.</td>
            <td>251</td>
            <td>33112-2-1; 33112-2-2</td>
            <td>Alaska e Irigoyen</td>
            <td>625416</td>
            <td>CATRIEL</td>
        </tr>
        <tr>
            <td>3</td>
            <td>14|02|2023</td>
            <td>-37,87966619</td>
            <td>-67,79200472</td>
            <td>TA</td>
            <td>Transformador con perdidas.</td>
            <td></td>
            <td>33112-3-1; 33112-3-2</td>
            <td>SETA K137</td>
            <td>654654</td>
            <td>CATRIEL</td>
        </tr>
    </tbody>
</table>








<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #333333;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #4caf50;
        color: aliceblue;
    }
</style>